.Register {
  width: 300px;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  color: #333333;
  box-shadow: 0 0 2px 2px #e9e9e9;

  &__title {
    font-size: 22px;
    color: #d71b1b;
    margin-top: 0;
  }

  .form-group {
    margin-top: 15px;
  }

  input {
    width: 100%;
    height: 36px;
    line-height: 1em;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 5px;
  }

  label {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .btn-register {
    width: 100%;
    height: 36px;
    font-size: 16px;
    color: #ffffff;
    background-color: #d71b1b;
    border: 1px solid #a80c0c;
    border-radius: 3px;
    transition: background-color 250ms;

    &:hover {
      background-color: #a80c0c;
    }
  }

  .error {
    color: red;
    font-size: 12px;
    padding-left: 7px;
    margin-top: 3px;
  }
}